<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connexion - 10000 Codeurs</title>
    <link href="{{url_for('static', filename='assets/img/logo-10000codeurs.jpg')}}" rel="logo">
    <link href="{{ url_for('static', filename='assets/css/login.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/msg_flash.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="flash-container">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} flash-message">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <script>
                    // Fade out après 5 secondes
                    setTimeout(function() {
                        var messages = document.querySelectorAll('.flash-message');
                        messages.forEach(function(msg) {
                            msg.style.opacity = '0';
                            // Supprimer l'élément après l'animation (0.5s)
                            setTimeout(function() {
                                msg.remove();
                            }, 500);
                        });
                    }, 5000);
                </script>
            {% endif %}
        {% endwith %}
      <input type="checkbox" id="check">
      <div class="login form">
        <header>Se connecter</header>
        <form action="{{ url_for('connexion') }}" method="POST">
          <input type="email" name="email" placeholder="Entrez votre email" required>
          <input type="password" name="password" placeholder="Entrez votre mot de passe" required>         
          {% if not from_inscription %}
            <a href="#">Mot de passe oublié ??</a>
          {% endif %}
          <input type="submit" class="button" value="Connexion">
        </form>
        <div class="signup">
          <span class="signup">Vous n'avez pas de compte ?
            <a href="{{ url_for('index') }}"> Inscrivez-vous</a>
          </span>
        </div>

      </div>
    </div>
  </body>
</html>
