{% extends "accueil_dashboard.html" %}
{% block body %}
  <section class="section main-section">
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-2 mb-6">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            <span class="icon"><i class="mdi mdi-account"></i></span>
            Profile
          </p>
        </header>
        <div class="card-content">
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input type="text" readonly value={{data.fullname}} class="input is-static">
            </div>
          </div>
          <div class="field">
            <label class="label">Communauté</label>
            <div class="control">
              <input type="text" readonly value={{data.community}} class="input is-static">
            </div>
          </div>
          <div class="field">
            <label class="label">Profil</label>
            <div class="control">
              <input type="text" readonly value={{data.profil}} class="input is-static">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            <span class="icon"><i class="mdi mdi-account-circle"></i></span>
            Modifier Profile
          </p>
        </header>
        <div class="card-content">
          <form action="/profile" method="POST">
            <div class="field">
              <label class="label">E-mail</label>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input type="text" name="email" value={{data.email}} class="input">
                  </div>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">Ville de résidence</label>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input type="text" name="city" value={{data.city}} class="input">
                  </div>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">Numéro de téléphone</label>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input type="text" name="phone" value={{data.phone}} class="input">
                  </div>
                </div>
              </div>
            </div>          
            <hr>
            <div class="field">
              <div class="control">
                <button type="submit" class="button green">
                  Valider
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-lock"></i></span>
          Modifier Mot de passe
        </p>
      </header>
      <div class="card-content">
        <form action="/profile" method="POST">
          <div class="field">
            <label class="label">Mot de passe Actuel</label>
            <div class="control">
              <input type="password" name="password"  class="input">
            </div>
          </div>
          <hr>
          <div class="field">
            <label class="label">Nouveau Mot de passe</label>
            <div class="control">
              <input type="password" name="new_password1" class="input">
            </div>
          </div>
          <div class="field">
            <label class="label">Confirmez Mot de passe</label>
            <div class="control">
              <input type="password"  name="new_password2" class="input" >
            </div>
          </div>
          <hr>
          <div class="field">
            <div class="control">
              <button type="submit" class="button green">
                Valider
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock body %}  